@import url(https://fonts.googleapis.com/css?family=Figtree:300,regular,500,600,700,800,900);

@import './base';

@import './components/header';
@import './components/hero';
@import './components/partner_section';
@import './components/craft-section';

@import './utils/utils';





:root {
  /* Colors */
  --main-white: #ffffff;
  --main-dark:  #161515;
  --text-gray: rgba(87, 85, 85, 1);
  --accent-orange: #f07030;
  --Secondary-Text-Grey: #747272;
  --badge-orange: #fdf1ea;
  --form-grey: rgba(239, 239, 239, 1);
  --background-grey:rgba(251, 251, 251, 1);
  --transition-main: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}


/* === PARTNER SECTION === */

/* === CRAFT SECTION === */



/* === REVIEWS  SECTION ===*/

.reviews {
  padding: 60px 0;
}

.reviews__header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 60px;
}

.reviews__title {
font-size: 48px;
font-weight: 600;
  margin-bottom: 16px;
}

.reviews__rating {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.reviews__score {
font-size: 32px;
font-weight: 800;
}

.reviews__stars {
  color: var(--accent-orange);
  letter-spacing: 2px;
}

.reviews__count {
  color: var(--text-gray);
  font-size: 18px;
}

.reviews__verified {
  background: var(--background-grey);
  padding: 20px;
  border-radius: 16px;
  border: 1px solid var(--form-grey);
}
.reviews__verified-icon{
  margin-bottom: 22px;
}


.reviews__verified-title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 15px;
}

.reviews__verified-text {
  font-size: 14px;
  color: var(--text-gray);
  line-height: 1.5;
}

/* === LIST === */
.reviews__list {
  display: flex;
  margin: 0 0 60px;
}



/* === CARD  ====*/

.review-card:not(:last-child){
  border-right: 1px solid var(--form-grey);
  padding-right: 20px;
}
.review-card:not(:first-child){
  padding-left: 20px;
}

.review-card__header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}

.review-card__avatar {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background: #f8f9ff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
}

.review-card__name {
  display: block;
  font-size: 20px;
  font-weight: 600;
}

.review-card__location {
  font-size: 14px;
  color: var(--text-gray);
}

.review-card__rating {
  color: var(--accent-orange);
  margin-bottom: 12px;
}

.review-card__text {
 font-size: 16px;
  line-height: 1.6;
  color: var(--text-gray);
  margin-bottom: 12px;
}

.review-card__date {
  font-size: 14px;
   color: var(--text-gray);
  
  display: flex;
  justify-content: right;
}

/* === BUTTON === */
.reviews__button {
  display: flex;
  justify-content: center;
  /* width: 100%; */
  max-width: 286px;
  gap: 11px;
  background: var(--main-dark);
  color: var(--main-white);
  border-radius: 999px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  /* padding: 10px 60px; */
  align-items: center;
}

.reviews__button-link{
  padding: 14px 0;
}



/* === VIDEO SECTION === */

.video__title{
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 60px;
  align-items: flex-start;
}
.video__player{
  margin-bottom: 30px;
}
.video__text{
  display: flex;
  width: 512px;
  color: var(--text-gray);
}



/* === SERVICES SECTION === */


.services__header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.services__heading {
  margin-bottom: 60px;
}
.services__title {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 15px;
}
.services__subtitle {
  color: var(--text-gray);
}
.services__nav {
    display: flex;
    justify-content: end;
    gap: 10px;
    align-items: flex-start;
    
}
.services__arrow {
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: var(--main-dark);
  border-radius: 50%;
  color: var(--main-white);
  cursor: pointer;
}

.services__arrow--prev{
  transform: rotate(-180.00deg);
}

.services__types {
  display: flex;
  align-items: center;
  overflow: hidden;
}
.services__types img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

.service-section__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px;
}

.service-section__title {
  font-size: 48px;
  font-weight: 600;
  margin: 0 0 15px 0;
}

.service-section__subtitle {
  color: var(--text-gray);
  max-width: 500px;
  line-height: 1.5;
}

.service-section__nav-arrow {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid var(--form-grey);
  background: var(--main-white);
  cursor: pointer;
  font-size: 20px;
  margin-left: 10px;
  transition: 0.3s;
}

.service-section__nav-arrow--active {
  background: var(--main-dark);
  color: var(--main-white);
  border-color: var(--main-dark);
}

.service-section__main {
  position: relative;
  display: flex;
  align-items: flex-end; 
  min-height: 520px;
}

.service-card {
  background: var(--background-grey);
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  z-index: 1; 
}

.service-card__title { 
  font-size: 32px;
  font-weight: 600; 
  margin-bottom: 15px;
}
.service-card__desc { 
  color: var(--text-gray); 
  font-size: 16px;
  line-height: 1.4; 
  margin-bottom: 20px; 
}
.service-card__price-title { 
  font-size: 25px; 
  font-weight: 600;
  margin-bottom: 15px;
 }
.service-card__price-row { 
  font-size: 14px;
  color: var(--text-gray); 
}
.service-card__price-row:not(:last-child){
  margin-bottom: 5px;
}
.service-btn{
  margin-top: 20px;
}


/* CARUSEL */
.service-carousel {
  position: absolute;
  top: 0;
  left: 0; 
  width: 100%;
  height: 100%;
  pointer-events: none; 
}

.service-carousel__track {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 20px;
  pointer-events: auto;
}

/* Елементи кіл */
.circle-item {
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  font-weight: 600;
  flex-shrink: 0;
  transition: var(--transition-main);
  position: relative;
}

.circle-item::after {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.3);
  border-radius: 50%;
  transition: var(--transition-main);
}

.circle-item span { position: relative; z-index: 2; }

/* SMALL CIRCLE */
.circle-item--small {
  width: 160px;
  height: 160px;
  font-size: 20px;
  font-weight: 600;
  align-self: flex-start; 
  margin-top: 30px;
  background-color: var(--color-black);
}

/* BIG CIRCLE */
.circle-item--big {
  width: 480px;
  height: 480px;
  font-size: 32px;
  font-weight: 600;
  margin: 0 10px;
  align-self: center;
  background-color: var(--color-black);
}

.circle-item--big::after {
  opacity: 0; 
}


/* === WORKS SRCTION */

.works__title {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 60px;
}
.works__content {
  display: flex;
  align-items: flex-start;
   justify-content: space-between;
  gap: 30px;
}

.works__list {
  flex: 1;
  /* gap: 30px; */
}
.works__item {
  display: flex;
  align-items: flex-start;
  gap: 15px;

}
.step-item:not(:last-child) {
    margin-bottom: 30px;
}
.step-item__number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  font-size: 32px;
  font-weight: 700;
  color: var(--accent-orange);
  background-color: var(--badge-orange);
  border-radius: 50%;
}

.step-item__title {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.step-item__text {
  color: var(--text-gray);
}

.works__media {
  flex: 1;
}
.works__image-wrapper {
  width: 100%;
  overflow: hidden;
  border-radius: 15px;
  background-color: var(--background-grey);

  
}
.works__image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}



/* ==  INCLUDED SECTION=== */

.included__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 512px;
  margin-bottom: 60px;
}
.included__title {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 10px;
}
.included__subtitle {
  color: var(--text-gray);
}
.included__content {
  border: 1px solid var(--form-grey);
  border-radius: 10px;
  background-color: var(--background-grey);
  padding: 30px 20px;
 

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.included-card {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 22px;
}
.included-card__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
}

.included-card__title {
  position: relative;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 15px;
}

.included-card__description {
  color: var(--text-gray);
}

/*=== STATS SECTION ===*/


.stats__header {
  max-width: 700px;
  margin-bottom: 60px;
}
.stats__title {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 15px;
}
.stats__subtitle {
  color: var(--text-gray);
}
.stats__grid {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  margin-bottom: 60px;
}
.stats__item {
}
.stat-card {
  flex: 1;
  padding-left: 24px;
  border-left: 1px solid var(--form-grey)
}

.stat-card:first-child{
  border-left: none;
  padding-left: 0;
}

.stat-card__value {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.stat-card__symbol {
  color: var(--accent-orange);
  
}
.stat-card__label {
  color: var(--text-gray);
}
.stats__button {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--main-white);
  background-color: var(--accent-orange);
  padding: 15px 60px;
  border-radius: 50px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


/* === FEATURED SECTION  === */

.featured {
}

.featured__title {
  font-size: 48px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 50px;
}
.featured__slider {
  display: flex;
  justify-content: space-between; /* Рівномірний розподіл */
  align-items: center;
  gap: 20px;
}



.featured__track {
 display: flex;
  justify-content: space-between; /* Рівномірний розподіл */
  align-items: center;
  gap: 20px;
}
.featured__item {
 /* flex: 0 1 calc(16.666% - 20px);  */
  display: flex;
  justify-content: center;
}
.featured__logo {
  max-width: 100%;
  height: auto;
}


/* === ABOUT SECTION === */

.about {
}

.about__container {
}
.about__header {
  max-width: 512px;
  margin-bottom: 60px;
}
.about__title {
  text-align: left;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 5px;
}
.about__rating {
  display: flex;
  align-items: center;
  gap: 8px;
}
.about__starts {
  color: var(--accent-orange);
}
.about__score {
  font-size: 12px;
  color: var(--text-gray);
  text-align: left;
}
.about__subtitle {
  color: var(--text-gray);
  margin-top: 15px;

}

.about__accordions-wrapper{
    display: flex;
    align-items: stretch;
    /* align-items: flex-start; */
    justify-content: space-between;
    gap: 30px;

}

.about__accordions {
  flex: 1;
 
}
.accordion {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--background-grey);
  border: 1px solid var(--form-grey);
  transition: all 0.3s ease;
  margin-bottom: 15px;
}

.accordion:last-child{
  margin-bottom: 0;
}

.accordion-item__summary {
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
  text-align: left;
  list-style: none;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.accordion-item__icon{
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center; 
  transition: transform 0.3s ease;
  position: relative;
}

.accordion-item__icon::before {
  content: '';
  width: 10px;
  height: 10px;
  border-right: 2px solid var(--main-dark);
  border-bottom: 2px solid var(--main-dark);
  transform: rotate(45deg); 
}

.accordion[open] .accordion-item__icon {
  transform: rotate(180deg);
}

.accordion__content {
  margin-top: 20px;
  color: var(--text-gray);
}
.about__media {
  flex: 1;
  display: flex;
}
.about__img-wrapper{
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 15px;
  background-color: var(--background-grey);
}
.about__img{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}



/* === features section === */

.features_header {
  max-width: 512px;
  margin-bottom: 60px;
}
.features__title {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 15px;
}
.features__subtitle {
  color: var(--text-gray);
}
.features__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}

.features__item {
  position: relative;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.features__item:nth-child(-n+3)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0; 
  right: 0; 
  height: 1px;
  background-color: var(--form-grey);
}


.features__item:not(:nth-child(3n))::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;   
  bottom: 0; 
  width: 1px;
  background-color: var(--form-grey);
}

.features__item:nth-child(-n+3)::before {
  bottom: 30px;
}

.features__item:nth-last-child(-n+3)::before {
  top: 30px;
}


 .features__item:nth-child(3n+1) { padding-left: 0; }

.features__item:nth-child(3n) { padding-right: 0; }

.features__item:nth-child(-n+3) { padding-top: 0; }

.features__item:nth-last-child(-n+3) { padding-bottom: 0; }



.features__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 48px;
  height: 48px;
  background-color: var(--badge-orange);
  border-radius: 50%;

}
.features__text {
  color: var(--text-gray);
}



/* === check  section=== */




/* check form */
.check {
}
.section {
}
.check__container {
  border: 1px solid var(--form-grey);
  border-radius: 10px;
  background: var(--background-grey);
  padding: 20px;
}
.check__header {
  margin-bottom: 30px;
}
.check__title {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 15px;
}
.check_subtitle {
  color: var(--text-gray);
}

.check__form{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 100%; */
  /* max-width: 500px; */
  border: 1px solid var(--form-grey);
  border-radius: 50px;
  background-color: var(--main-white);
  padding: 5px 5px 5px 30px;
  /* gap: 3px; */
}
.check__form-file{
  flex: 1;
  height: 100%;
}

.check__form-file {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.check__form-input{
  width: 100%;
  height: 100%;
  font-size: 16px;
  padding: 10px 5px;
}

.check__form-input::placeholder {
  color: var(--Secondary-Text-Grey);
}

.check__form-input[readonly] {
  cursor: pointer;
  background-color: transparent;

}

.check__form-input:focus,
.check__form-input:focus-visible {
  outline: none;
  box-shadow: none;
  border: none;
}

.check__form-btn{
  text-transform: uppercase;
  text-align: center;
  /* font-weight: 600; */
  line-height: 1.5;
  font-size: 14px;
  background-color: var(--main-dark);
  padding: 14px 60px;
  border-radius: 50px;
  cursor: pointer;
  color: var(--main-white);
}
.check__form-btn:active,
.check__form-btn:hover {
  transform: scale(0.98);
}

/* === FAQ   SECTION === */

.faq {
}

.faq__header {
  display: flex;
  flex-direction: column;
  max-width: 512px;
  margin-bottom: 40px;
}
.faq__title {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 15px;
}
.faq__subtitle {
  color: var(--text-gray);
}
.faq__list {
  margin-bottom: 60px;
}
.faq__item {
  border-bottom: 1px solid var(--form-grey) ;
}
.faq__question {
  cursor: pointer;
  padding: 32px  0 32px 0 ;
  font-size: 25px;
  font-weight: 600;
  text-align: left;
  list-style: none;

   display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.faq__question::-webkit-details-marker {
  display: none; 
}

.faq__item:first-child .faq__question{
  padding-top: 0px;
}

/* .faq_question:first-child{
  padding: 0  0 32px 0 
} */
.faq__icon {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center; 
  transition: transform 0.3s ease;
  position: relative;
}

.faq__icon::before {
  content: '';
  width: 10px;
  height: 10px;
  border-right: 2px solid var(--main-dark);
  border-bottom: 2px solid var(--main-dark);
  transform: rotate(45deg); 
}

.faq__item[open] .faq__icon{
  transform: rotate(180deg);
}

.faq__answer {
  padding-right: 200px;
  padding-bottom: 30px;
  color: var(--text-gray);
}
.faq__footer {
}
.faq__btn {
  background-color: var(--accent-orange);
  color: var(--main-white);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  padding: 14px 60px;
  border-radius: 50px;
  transition: opacity 0.3s ease;
}

.faq__btn:hover{
  opacity: 0.9;
}


/* === BLOG SECTION */

.blog__header {
  max-width: 500px;
  margin-bottom: 60px;
}

.blog__title {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 15px;
}

.blog__description {
  color: var(--text-gray);

}

.blog__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.blog__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* ===BLOG CARD ===*/

.blog-card {
  display: flex;
  flex-direction: column;
}

.blog-card--horizontal {
  flex-direction: row;
  gap: 24px;
}

.blog-card__image {
  position: relative;
  background-color: var(--background-grey);
  border-radius: 10px;
  min-height: 209px;
  background-image: url(../img/background.png);
}

.blog-card--large{
  border-bottom: 1px solid var(--form-grey);
}

.blog-card--large .blog-card__image {
  min-height: 209px;
}

.blog-card--horizontal .blog-card__image {
  width: 241px;
  min-height: 186px;
  flex-shrink: 0;
}

.blog-card__tag {
  position: absolute;
  top: 20px;
  left: 15px;
  background-color: var(--badge-orange);
  color: var(--accent-orange);
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 20px;
  text-transform: uppercase;
}

.blog-card__body {
   display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 16px;
}



.blog-card--horizontal .blog-card__body {
  padding-top: 0;
}

.blog-card.blog-card--horizontal:first-child{
  border-bottom: 1px solid var(--form-grey);
  padding-bottom: 30px;
}

.blog-card__title {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.blog-card__text {
  color: var(--text-gray);
  margin-bottom: 16px;
 
}

.blog-card__link {
   margin-top: auto;
  align-self: flex-end;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--text-gray);
  text-decoration: none;
  letter-spacing: 1px;
}

.blog-card__link--highlight {
  color: var(--accent-orange);
  margin-bottom: 15px;
}

.blog__footer {
  margin-top: 48px;
}




/* * {
  outline: 1px solid red !important;
} */


/* === FOOTER === */



.footer {
  background-color: var(--main-dark);
  color: var(--main-white);
  font-family: var(--font-family);
}


.footer__logo {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 60px;
}

.footer__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 60px;
  margin-bottom: 60px;
}

.footer__column {
  flex: 1;
  min-width: 200px;
}

.footer__column--bio {
  flex: 1.5;
  padding-right: 40px;
}

.footer__title {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
}

.footer__text {
  font-size: 14px;
  line-height: 1.6;
  color: var(--background-grey);
  opacity: 0.7;
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__item {
  margin-bottom: 12px;
}

.footer__link {
  color: var(--background-grey);
  opacity: 0.7;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
}

.footer__link:hover {
  color: var(--main-white);
  opacity: 1;
}

.footer__bottom {
  border-top: 1px solid var(--background-grey);
  padding-top: 30px;
}

.footer__copyright {
  font-size: 11px;
  font-weight: 700;
  margin-bottom: 30px;
}

.footer__legal {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.footer__legal-link {
  font-size: 10px;
  font-weight: 500;
  color: var(--Secondary-Text-Grey);
  text-decoration: none;
  
}

.footer__legal-link:hover {
  color: var(--main-white);
  opacity: 1;
}
.footer__legal-link:focus {
  color: var(--main-white);
  opacity: 1;
}
