@import url(https://fonts.googleapis.com/css?family=Figtree:300,regular,500,600,700,800,900,);


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
}

html,
body {
  /* height: 100%; */
  font-family: 'Figtree' ;
  /* color: var(--primary-text-color); */
  font-size: 18px;
  line-height: 1.4;
  background-color: var(--main-white);
  color: var(--main-dark);
  font-weight: 400;
  margin: 0;
}

:root {
  /* Colors */
  --main-white: #ffffff;
  --main-dark:  #161515;
  --text-gray: #575555;
  --accent-orange: #f07030;
  --badge-orange: rgb(253, 241, 234);
  --Secondary-Text-Grey: #747272;
}

.section{
  padding: 30px 0;
}
.visually-hidden{
    position: absolute !important;
    width: 1px; height: 1px;
    padding: 0; margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

[class*="__container"] {
  width: 100%;
  max-width: 1048px;
  margin: 0 auto;
  padding: 0 24px;
}

/* Header */
.header__container{
padding: 10px 0;


}
.header__banner{
    background-color: var(--accent-orange);
    color: var(--main-white);
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    padding: 10px 0 ;
}
.header__nav{
    display: flex;
    align-items: center;

}
.header__logo{

}
.header__list{
  display: flex;
  gap: 120px;
  justify-content: center;
  flex-grow: 1;
  color: var(--text-gray);  
}
.header__item{
    
}
.header__link{
    font-size: 10px;
    color: var(--text-gray);
}
.header__link:hover {
    font-weight: 700;
    cursor: pointer;
}
.header__link:focus {
    font-weight: 700;
    cursor: pointer;
}


/* HERO SECTION */
.hero{
  
}
.hero__container{
  padding-top: 108px;
  padding-bottom: 58px;
}
.hero__top{ 

}
.hero__badge{

}
.hero__badge-icon{}
.hero__badge-text{
  color: var(--accent-orange);
  text-transform: uppercase;
  line-height: 18px;
}
.hero__social-proof{}
.hero__avatars{

}
.hero__avatar{}
.hero__avatar-img{}
.hero__avatar{}
.hero__avatar-img{}
.hero__social-text{}
.hero__social-number{
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
}
.hero__social-label{}

/* main content */

.hero__content{}
.hero__title{
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
}
.hero__subtitle{
  font-style: 18px;
  line-height: 22px;
}
.hero__form{}
.zip-form__field{}
.zip-form__input::placeholder{
  color: var(--Secondary-Text-Grey);
  font-size: 16px;
  line-height: 19px;
}
.zip-form__btn{
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 21px;
  background-color: var(--accent-orange);
  padding: 14px 30px;
  border-radius: 50px;

}
.hero__perks{}
.hero__perk{}
.hero__perk-icon{}
.hero__perk-text{}
.hero__perk{}
.hero__perk-icon{}
.hero__perk-text{}