@import url(https://fonts.googleapis.com/css?family=Figtree:300,regular,500,600,700,800,900,);


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  /* height: 100%; */
  font-family: 'Figtree' ;
  /* color: var(--primary-text-color); */
  font-size: 18px;
  line-height: 1.4;
  background-color: var(--main-white);
  color: var(--main-dark);
  font-weight: 400;
  
}

:root {
  /* Colors */
  --main-white: #ffffff;
  --main-dark:  #161515;
  --text-gray: #575555;
  --accent-orange: #f07030;
  --badge-orange: rgb(253, 241, 234);
}


/* Header */
.header__banner{
    background-color: var(--accent-orange);
    color: var(--main-white);
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    padding: 10px 0 ;
}
.header__nav{
    
}
.header__logo{

}
.header__list{
  color: var(--text-gray);  
}
.header__item{
    
}
.header__link{
    font-size: 10px;
    color: var(--text-gray);
}
.header__link:hover {
    font-weight: 700;
}


/* HERO SECTION */

