.check {
  &__wrapper {
    border: 1px solid var(--form-grey);
    border-radius: 10px;
    background: var(--background-grey);
    padding: 20px;
  }

  &__header {

    margin-bottom: 20px;
  }

  &__title {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 15px;

    @media screen and (max-width: $bp-tablet) {
      font-size: 25px;
    }
  }

  &_subtitle {
    color: var(--text-gray);
    @media screen and (max-width: $bp-tablet) {
      font-size: 16px;
    }
  }

  &__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--form-grey);
    border-radius: 50px;
    background-color: var(--main-white);
    padding: 5px 5px 5px 30px;
    margin-bottom: 20px;

    &-file {
      // БЕМ-елемент всередині форми
      flex: 1;
      height: 100%;
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border: 0;
    }

    &-input {
      width: 100%;
      height: 100%;
      font-size: 16px;
      padding: 10px 5px;

      &::placeholder {
        color: var(--Secondary-Text-Grey);
      }

      &[readonly] {
        cursor: pointer;
        background-color: transparent;
      }

      &:focus,
      &:focus-visible {
        outline: none;
        box-shadow: none;
        border: none;
      }
    }

    &-btn {
      text-transform: uppercase;
      text-align: center;
      line-height: 1.5;
      font-size: 14px;
      background-color: var(--main-dark);
      padding: 14px 60px;
      border-radius: 50px;
      cursor: pointer;
      color: var(--main-white);

      &:active,
      &:hover {
        transform: scale(0.98);
      }
    }
  }
}

@media (max-width: $bp-tablet) {

  .check__form {
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    padding: 15px;
    border-radius: 20px;
  }

  .check__form-btn {
    width: 100%;
    padding: 14px 20px;
  }

}