.craft {
  padding-top: 60px;

  &__header {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
  }
  &__title {
    font-size: 48px;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 15px;

    @media screen and (max-width: $bp-tablet) {
      font-size: 26px;
    }
  }
  &__lead {
    max-width: 512px;

    @media screen and (max-width: $bp-tablet) {
      font-size: 16px;
      color: var(--text-gray);
    }
  }
  &__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    @media screen and (max-width: $bp-tablet) {
      flex-direction: column;
    }

    & > * {
  flex: 1 1 50%;
}

@media (max-width: $bp-tablet) {
  & > * {
    flex: 1 1 100%;
    min-width: 0;
  }
}
  }

  &__projects {
    &-btn {
      position: absolute;
      right: 50px;
      bottom: 0;
      width: 120px;
      height: 120px;

      overflow: hidden;
      cursor: pointer;
      border-radius: 50%;
      text-align: center;
      background-color: var(--main-dark);

      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease;
      }
    }
    &-icon {
      position: absolute;
      bottom: -5px;
      right: 55px;
    }
  }
}

.craft-showcase {
  position: relative;

  &__badge {
    font-size: 12px;
    font-weight: 400;
    color: var(--accent-orange);
    text-transform: uppercase;
  }

  &__img {
    width: 100%;
    aspect-ratio: 497 / 518;
    height: auto;
    max-height: 500px;
    background-color: var(--text-gray);
    border-radius: 10px;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: $bp-tablet) {
    height: 250px
    }
  }

  &__img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  &__wrapper {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 5;
    display: flex;
    gap: 3px;
    align-items: center;
    justify-content: center;
    width: 111px;
    height: 24px;
    border-radius: 50px;
    background-color: var(--badge-orange);
  }

  &__content {
    margin-top: 30px;
  }

  &__title {
    margin-bottom: 15px;
    font-size: 32px;
    font-weight: 600;

     @media screen and (max-width: $bp-tablet) {
     font-size: 20px;
     margin-bottom: 15px;
    }
  }

  &__meta {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

    &-label {
      font-size: 20px;
      font-weight: 600;

      @media screen and (max-width: $bp-tablet) {
     font-size: 16px;
    }
    }
  }
  &__price {
    font-size: 16px;
    color: var(--text-gray);
    @media screen and (max-width: $bp-tablet) {
     font-size: 16px;
    }
  }
  &__text {
    color: var(--text-gray);
    margin-bottom: 60px;

    @media screen and (max-width: $bp-tablet) {
     font-size: 16px;
    }
  }
  &__nav {
    position: relative;
    display: flex;
    gap: 10px;

     @media screen and (max-width: $bp-tablet) {
     display: none;
    }

    &-btn {
      width: 48px;
      height: 48px;
      background-color: var(--main-dark);
      border-radius: 50%;
      color: var(--main-white);
      font-size: 20px;
      cursor: pointer;

     
    }
  }
}

.craft-showcase__cta {
  color: var(--main-white);
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  transform: rotate(-21deg);
  text-align: center;
  line-height: 1.2;
}

.craft-categories {
  background-color: var(--background-grey);
  padding: 20px;
  border-radius: 10px;

  @media screen and (max-width: $bp-tablet) {
     padding: 0px;
     background-color: transparent;
    }

  &__header {
    margin-bottom: 30px;
  }
  &__title {
    font-size: 32px;
    font-weight: 600;

     @media screen and (max-width: $bp-tablet) {
     font-size: 25px;
     margin-bottom: 15px;
    }
  }

  &__text{


    @media screen and (max-width: $bp-tablet) {
     font-size: 16px;
     color: var(--text-gray);
    }
  }
  &__lead {
    font-size: 18px;
    color: var(--text-gray);
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  &__item {
    display: block;
    // align-items: center;
    // border: 1px solid var(--form-grey);
    // padding: 20px;
    // border-radius: 10px;

    // @media screen and (max-width: $bp-tablet) {
    //  padding: 10px;
    // }
  }
}

.category-card {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;

  padding: 20px;
  border: 1px solid var(--form-grey);
  border-radius: 10px;
  background-color: var(--main-white);

  @media screen and (max-width: $bp-tablet) {
    padding: 10px;
     gap: 10px;
    }

  &__icon {
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    overflow: hidden;
    background-color: var(--text-gray);
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  }

 
  &__body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    // width: 267px;
    min-width: 0;
  }
  &__title {
    font-size: 20px;
    font-weight: 600;
  }
  &__desc {
    font-size: 16px;
    color: var(--text-gray);

    @media screen and (max-width: $bp-tablet) {
     font-size: 12px;
    }
  }
  &__link {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid var(--form-grey);
    border-radius: 50%;
    background-color: var(--main-white);

    &:hover {
      background-color: var(--form-grey);
    }
  }

  &__rows {
    color: var(--main-dark);
    font-size: 20px;
    line-height: 1;
    margin-bottom: 2px;
  }
}
