.partner{
  padding-bottom: 60px;

  &__title{
 font-size: 48px;
  font-weight: 600;
  margin-bottom: 15px;
}
  &r_subtitle{
  font-size: 18px;
  line-height: 1.2;
  color: var(--text-gray);
  margin-bottom: 30px;

}
  &__img{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
}

