.video__title {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 60px;
  align-items: flex-start;

  &__player {
    margin-bottom: 30px;
  }

  &__text {
    display: flex;
    width: 512px;
    color: var(--text-gray);
  }
}
