.video {

  &__title {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 60px;
  align-items: flex-start;

    @media screen and (max-width: $bp-tablet) {
     font-size: 25px;
       margin-bottom: 30px;
    }
  }

  &__player {

    margin-bottom: 30px;
    overflow: hidden;
  
      @media screen and (max-width: $bp-tablet) {
     height: 250px;
    }
  }

  &__wrapper{
       display: flex;
    max-width: 512px;
    color: var(--text-gray);
  }
  &__text {

    font-size: 18px;
    font-weight: 400;

  
  
    
    @media screen and (max-width: $bp-tablet) {
     font-size: 16px;
    }
  }
  
  }


